body {
    background-color: rgb(233, 226, 208);
}

header {
    background-color: rgb(91, 113, 100);
}

img#ownerpic {
    transform: rotate(0deg);
    transition: all 2s;
}

img#ownerpic:hover {
    transform: rotate(360deg);
}